<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static resources</title>
    <link href="/css/ex.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Static resources</h1>
        <img src="/img/cats/cat1.jpg">
        <img src="/img/cats/cat2.jpg">
        <img src="/img/cats/cat3.jpg">
        <img src="/img/cats/cat4.jpg">
        <br>
        <button id="btn">JS link test</button>
    </div>

    <script src="/js/ex.js"></script>
</body>
</html>