<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parameter Submit to server</title>
</head>
<body>
    <h1>Parameter Submit to server</h1>
    <h3>1. HttpServletRequest.getParameter("key")</h3>
    <form action="/param/test1" method="post">
        Name : <input type="text" name="inputName"> <br>
        Age : <input type="number" name="inputAge"> <br>
        Address : <input type="text" name="inputAddress"> <br>
        <button>Submit</button>
    </form>
    <hr>
    <h3>
        2. @RequestParam Annotation
        - only one
    </h3>
    <form action="/param/test2" method="post">
        Book Title : <input type="text" name="title"> <br>
        Author : <input type="text" name="author"> <br>
        Price : <input type="number" name="price"> <br>
        <button>Submit</button>
    </form>

    <hr>
    <h3>
        3. @RequestParam Annotation
        - mutiple
    </h3>
    <form action="/param/test3" method="post">
        Color : 
        Red <input type="checkbox" name="color" value="red">
        Green <input type="checkbox" name="color" value="green">
        Blue <input type="checkbox" name="color" value="blue">
        <br><br>
        Fruit :
        Apple <input type="checkbox" name="fruit" value="apple">
        Banana <input type="checkbox" name="fruit" value="banana">
        Orange <input type="checkbox" name="fruit" value="orange"><br><br>
        
        Product Name : <input type="text" name="productName"> <br>
        Expiration Date : <input type="date" name="expirationDate">
        <br><br>
        <button>Submit</button>
    </form>
    
    <h3>4. @ModelAttribute Annotation</h3>
    <form action="/param/test4" method="post"> <br>
        ID : <input type="text" name="memberId"> <br>
        Password : <input type="password" name="memberPw"> <br>
        Name : <input type="text" name="memberName"> <br>
        Age : <input type="number" name="memberAge"> <br>
        <button>Submit</button>
    </form>

</body>
</html>