<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/ajax-main.css">
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
        <style>
            th, td {
                border: 1px solid black;
                padding: 3px;
                text-align: center;
            }
        </style>
        <title>Ajax-Main</title>
    </head>
    <body>
        
        <h1>Todo List - Ajax-Main</h1>
        <pre>
            What is Ajax?
            (Asynchronous JavaScript & XML)
        </pre>
        
        <hr>
        <div>
            <h3>Add Todo</h3>
            <div>
                Title : <input type="text" id="todoTitle">
            </div>
            <div>
                <textarea id="todoContent" cols="50" rows="5" placeholder="Write Todo Content"></textarea>
            </div>
            <button id="addBtn">Add</button>
        </div>

        <hr>
        <div id="todoHeader">
            Total todo Count : <span id="totalCount">0</span>
            /
            Completed Todo : <span id="completeCount">0</span>
        </div>
        <button id="reloadBtn" class="btn-container">Refresh</button>

        <table style="border: 1px solid black; border-collapse: collapse;">
            <thead>
                <th>Todo Number</th>
                <th>Todo Title</th>
                <th>Todo Complete (Y/N)</th>
                <th>Todo Registered Date</th>
            </thead>
            <tbody id="tbody">
                
            </tbody>
        </table>

        <div id="popupLayer"  class="popup-hidden">
            <div class="popup-row">
              Number : <span id="popupTodoNo"></span>
              |
              Title : <span id="popupTodoTitle"></span>
              <span id="popupClose">&times;</span>
            </div>
            <div class="popup-row">
              Complete(Y/N) : <span id="popupComplete"></span>
              |
              Date Created : <span id="popupRegDate"></span>
            </div>
            <div class="popup-row">
              [Content]
              <div id="popupTodoContent"></div>
            </div>
            <div class="btn-container">
              <button id="changeComplete">Change complete</button>
              <button id="updateView">Update</button>
              <button id="deleteBtn">Delete</button>
            </div>
          </div>

          <div id="updateLayer" class="popup-hidden">
            <div class="popup-row">
              Title : <input type="text" id="updateTitle">
            </div>
            <div class="popup-row">
              <textarea id="updateContent" cols="45" rows="5"></textarea>
            </div>
            <div class="btn-container">
              <button id="updateBtn">Update</button>     
              <button id="updateCancel">Cancel</button>     
            </div>
          </div>
         

        <script src="/js/ajax-main.js"></script>
    </body>
</html>