<footer>
    <p>Copyright &copy; KH Information Educational Institute A-Class</p>
  
    <article>
        <a href="#">Projects</a>    
        <span>|</span>
        <a href="#">Terms of Service</a>    
        <span>|</span>
        <a href="#">Privacy Policy</a>    
        <span>|</span>
        <a href="#">Customer Support</a>    
    </article>
  </footer>
  
  
  <script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
  
    if(message != null) alert(message);
  </script>